.custom-hero {
  padding: 60px 10px;
}

.gal {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.gal img {
  padding: 7px 0;
  width: 100%;
}

@media (max-width: 500px) {
  .gal {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
}

footer {
  background: #515151;
  height: 80px;
  line-height: 80px;
  margin-top: 20px;
  padding: 0 20px;
  text-align: right;
}
